@font-face {
    font-family: font1;
    src: url(../oswald.ttf);
}
@font-face {
    font-family: font2;
    src: url(../Kanit-Black.ttf);
}
@font-face {
    font-family: font3;
    src: url(../Lora-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: font4;
    src: url(../ProtestStrike.ttf);
}
body {
    background-image: url('https://github.com/LUGC-ozenderm/assignment-2-CSS/blob/main/images/background2.jpg?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
    font-family: 'Arial', sans-serif;
    padding: 20px;
}

p {
    color: white;
    font-size: 1.7em;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: font1;
}
.font1 {
    font-family: font1;
    font-size: 2em;
}
.font2 {
    font-family: font2;
    font-size: 2em;
}
.font3 {
    font-family: font3;
    font-size: 2em;
}
.font4 {
    font-family: font4;
    font-size: 2em;
}

.font3-1 {
    font-family: font3;
    font-size: 2em;
    color:deeppink;
}

.font2-1{
    font-family: font2;
    font-size: 2em;
    color:greenyellow;
}

.font2-2{
    font-family: font2;
    font-size: 2em;
    color: aqua;
}

.font4-2{
    font-family: font4;
    font-size: 1.6em;
    color:blueviolet;
}

.font4-1 {
    font-family: font4;
    font-size: 2em;
    color:lightgreen;
}

.font4-3 {
    font-family: font4;
    font-size: 2em;
    color:rgb(254, 41, 41);
}

.font3-2 {
    font-family: font3;
    font-size: 2em;
    color:rgb(211, 31, 211);
}

.font2-3 {
    font-family: font2;
    font-size: 1.5em;
    color:rgb(6, 253, 6);
}

.font3-3 {
    font-family: font3;
    font-size: 1.7em;
    color:rgb(255, 0, 0);
    font-weight: bold;
}

.font3-4 {
    font-family: font3;
    font-size: 1.7em;
    color:rgb(228, 35, 199);
    font-weight: bold;
}

.font4-4 {
    font-family: font4;
    font-size: 1.7em;
    color:rgb(255, 255, 0);
    font-weight: bold;
}

.font2-4 {
    font-family: font2;
    font-size: 1.7em;
    color:rgb(183, 107, 21);
    font-weight: bold;
}

.font1-2{
    font-family: font1;
    font-size: 1.7em;
    color:rgb(212, 58, 27);
    font-weight: bold;
}

.font3-5{
    font-family: font3;
    font-size: 1.7em;
    color:rgb(255, 0, 195);
    font-weight: bold;
}

.font1-3{
    font-family: font1;
    font-size: 1.7em;
    color:rgb(42, 156, 238);
    font-weight: bold;
}

.font2-5{
    font-family: font2;
    font-size: 1.7em;
    color:rgb(248, 52, 30);
    font-weight: bold;
}

.font3-6{
    font-family: font3;
    font-size: 1.7em;
    color:rgb(71, 12, 250);
    font-weight: bold;
}

.font2-6{
    font-family: font2;
    font-size: 1.7em;
    color:rgb(55, 240, 107);
}

.font2-7{
    font-family: font2;
    font-size: 1.7em;
    color:rgb(211, 228, 21);
}

.font2-8{
    font-family: font2;
    font-size: 1.8em;
    color:rgb(26, 37, 237);
}

.font3-8{
    font-family: font3;
    font-size: 1.8em;
    color:rgb(255, 0, 140);
}

.font4-5 {
    font-family: font4;
    font-size: 1.7em;
    color:rgb(241, 222, 79);
    font-weight: bold;
}

.font2-9{
    font-family: font2;
    font-size: 1.8em;
    color:rgb(251, 1, 255);
    font-weight: bolder;
}

.font3-9{
    font-family: font3;
    font-size: 1.8em;
    color:rgb(237, 20, 237);
}

.font3-10{
    font-family: font3;
    font-size: 1.8em;
    color:rgb(255, 0, 140);
}

.font4-6 {
    font-family: font4;
    font-size: 1.8em;
    color:rgb(255, 0, 0);
    font-weight: bold;
}

.increase1{
    font-size: 1.5em;
    color: cyan;
}
.increase2{
    font-size: 1.7em;
    color: orange;

}
.increase3{
    font-size: 2.1em;
    color: gold;
    text-shadow: #000 4px 4px 7px;
}

.size-change1{
    font-size: 1.4em;
    color: cyan;
    font-family: font3;
    font-weight: bold;
}

#line1, #line4, #line5, #line8, #line11, #line13, #line16, #line17, #line21, #line28, #line29, #line36, #line37, #line44, #line45, #line53{
    font-family: font1;
}
#line2, #line6, #line7, #line9, #line10, #line12, #line15, #line18, #line23, #line26, #line31, #line34, #line39, #line47, #line50, #line56{
    font-family: font3;
}
#line3, #line14, #line19, #line22, #line27, #line30, #line35, #line38, #line41, #line43, #line46, #line49, #line51, #line54{
    font-family: font2;
}
#line20, #line24, #Line25, #line32, #line33, #line40, #line42, #line48, #line52, #line55 {
    font-family: font4;
}


#sideLeft, #sideRight {
    width: 40%;
}
#sideLeft {
    float: left;
    margin-right: 20px;
}
#sideRight {
    float: right;
    margin-left: 20px;
}  